node_modules
!.gitignore
/deploy
tmp
.*
*.png
*.bmp
*.jpg
*.jpeg
*.pyc
*.out
*.txt
*.pid

!/hdyzm_statstics_reporter/app/requirements.txt
!/python-proj/
/log/
!/docker_deploy/requirements.txt
!/.gitignore
